input[data-com-onepassword-filled="light"] {
	background-color: var(--background);
	color: var(--color-foreground-autofilled);
	-webkit-text-fill-color: var(--color-foreground-autofilled);
}

input[data-com-onepassword-filled="dark"] {
	background-color: var(--background);
	color: var(--color-gray-300);
	-webkit-text-fill-color: var(--color-gray-300);
}
