APP_NAME=Bingy

DB_HOST=localhost
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=5432
DB_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}/${DB_NAME}"

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_URL="redis://:${REDIS_PASSWORD}@${REDIS_HOST}:${REDIS_PORT}"