LOG_LEVEL=INFO
NODE_ENV=development
BASE_URL=http://localhost:3000
API_VERSION=1
PORT=3000
APP_NAME=Bingy

# AUTH
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
PEPPER_KEY=

# DB
DB_HOST=localhost
DB_USER=admin
DB_PASSWORD=admin123
DB_NAME=bingy
DB_PORT=5432
DB_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}/${DB_NAME}"

# CACHE
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_URL="redis://:${REDIS_PASSWORD}@${REDIS_HOST}:${REDIS_PORT}"

RESEND_API_KEY=
TRANSACTIONAL_EMAIL=example@domain.com

# OAUTH
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

FRONT_URL=http://localhost:5173
BUCKET_URL=""